@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-color: #1f2937;
    --main-color: #f9faf8;
    --secondary: #e5e7eb;
    --accent: #3882f6;
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}

.nav-items {
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
}

.push-left {
    margin-right: auto;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark-background {
    background-color: var(--dark-color);
}

.dark-background p {
    color: var(--secondary);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5rem;
}

.logo {
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
}

.nav-item {
    color: var(--secondary);
    font-size: 18px;
    font-weight: 200;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.primary-heading {
    font-size: 48px;
    font-weight: 900;
    color: var(--main-color);
}

.hero button {
    align-self: self-start;
    border: none;
    padding: 1rem 2rem;
    color: var(--main-color);
    background-color: var(--accent);
    border-radius: 8px;
}

.hero .left-column {
    gap: 20px;
}